<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>New user</h1>
<form action="#" th:action="@{/data}" th:object="${user}" method="post">

    <p>Last name: <input type="text" th:field="*{lastName}"/></p>
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

    <p>First name: <input type="text" th:field="*{firstName}"/></p>
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

    <p>Patronymic: <input type="text" th:field="*{patronymic}"/></p>
    <p th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></p>

    <p>Age: <input type="text" th:field="*{age}"/></p>
    <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>

    <p>Email: <input type="text" th:field="*{email}"/></p>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

    <p>Organization: <input type="text" th:field="*{organization}"/></p>
    <p th:if="${#fields.hasErrors('organization')}" th:errors="*{organization}"></p>

    <p>Salary: <input type="text" th:field="*{salary}"/></p>
    <p th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></p>

    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
<form action="#" th:action="@{/upload}" enctype="multipart/form-data" method="post">
    <p><input type="submit" value="Upload"/> <input type="file" name="file"/></p>
</form>
</body>
</html>